/*@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');*/
@import url('https://fonts.googleapis.com/css?family=Orbitron|Roboto&display=swap');
body{ 
    font-family: 'Orbitron', sans-serif;
    background-color: black;
}
button{
    font-family: 'Orbitron', sans-serif;
    color: white;
    background-color: black;
    border: none;
    font-size: 150%;
    outline: 0;
    padding-bottom: 5px;
    position: relative;
    
    
}
.smallbuttons{
    background-image: url("../images/add.png");
    background-size: 80%;
    width: 25px;
    background-repeat: no-repeat;
    height: 25px;
    margin-left: 5px;
}
#cancelButton{
    background-image: url("../images/cancel.png");
    background-size: 70%;
    width: 25px;
    background-repeat: no-repeat;
    height: 25px;
    margin-left: 1px;
}

.input {
    border: 0;
    outline: 0;
    width: 85%;
    color: white;
    background: transparent;
    border-bottom: 1px solid white;
  }
.TitleDivTasks{
   color:white;
}
   
.tasks{
    width: 40%;
}
.dateAndTime{
    display: inline-block;
    padding-left: 76px;
    width: 300px;
    text-align: center;
    color: white; 
}
#time{
    width: max-content;
    font-size: 300%;  
    margin-bottom: -25px;
 
}

#date{
    font-size: 150%;
}

.inputAndButton{
    padding: 10px;
}